[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
seaborn = "*"
matplotlib = "*"
openpyxl = "*"
ipykernel = "*"
plotly = "*"
plotly-express = "*"
dash = "*"
dash-bootstrap-components = "*"
datetime = "*"
nbformat = "*"
numexpr = "*"
lxml = "*"

[dev-packages]

[requires]
python_version = "3.9"
