[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
seaborn = "*"
matplotlib = "*"
openpyxl = "*"
ipykernel = "*"
plotly = "*"
plotly-express = "*"
dash = "*"
dash-bootstrap-components = "*"
datetime = "*"

[dev-packages]

[requires]
